<!DOCTYPE html>
<html>
   <head>
      <title>SBC</title>
   </head>
   <script src = "/socket.io.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
   <style type="text/css">
      .bar {
         position: absolute;
         bottom: 0;
      }
      .bar *  {
         display: inline-block;
      }
   </style>
   <script>
         var current = 'https://sbc.onrender.com/';
        if (window.location.href.indexOf('localhost') != -1) {
            current = '//localhost:3000';
        }

        var socket = io.connect(current);

        var app;





        window.onload = function () {

            Vue.component('menu-item', {
              props: ['item','all'],
              template: '<div v-on:keyup.enter="keyup(item)" :class="item.class">{{item.text}}<div @click="action(item)" v-if="item.html" v-html="item.html" :class="{ panelButton : item.onclick}"></div><input class="loginInput" placeholder="Login" :class="{ error : all.passwordError}" v-if="item.login" v-model="all.password" ></input></div>',
              created() {
                $('body').addClass('noscroll')
              },
              destroyed() {
                $('body').removeClass('noscroll')
              },
              methods: {
                  action: function (a) {
                    if(a.onclick)
                      a.onclick()
                  },
                  keyup: function (a) {
                    if(a.onkeyup)
                      a.onkeyup(a)
                  },
                  
                }
            })
            Vue.component('bar-item', {
              props: ['all'],
              template: '<div class="bar"><input class="inputText" placeholder="" :class="{ error : all.passwordError}" v-model="all.currText" v-on:keyup="keys" ></input><div @click="send">send</div></div>',
              
              methods: {
                  keys: function (event) {
                    if(event.keyCode==13) {
                      this.send()
                    }
                  },
                  send: function () {
                    var text = app.dataObj.currText;
                    text = CryptoJS.AES.encrypt(text, app.dataObj.secret).toString()
                    socket.emit('send',{text:text})
                    app.dataObj.currText = "";
                  },
                  keyup: function (a) {
                    if(a.onkeyup)
                      a.onkeyup(a)
                  },
                  
                }
            })
            Vue.component('messages-item', {
              props: ['all'],
              template: '<div class=""><div class="" v-for="message in all.messages" v-if="decript(message.text)" v-html="decript(message.text)"></div></div>',
              methods: {
               decript: function (text) {
                     var r = "";
                     try {
                        r = CryptoJS.AES.decrypt(text, app.dataObj.secret).toString(CryptoJS.enc.Utf8);
                     } catch(e) {
                        r = ""
                     }
                     return r;
                  }
              }
            })
            app = new Vue({
              el: '#app',
              data: {
                dataObj : {
                  secret: "",
                  currText: "",
                  messages : [],
                  menuItems: []
                }
              },
              created () {

              },
              methods: {
                  
                }
            }) 
            socket.on('console', function(data){
                console.log(data)
            });
            socket.on('message', function(data){
                console.log(data)
                app.dataObj.messages.push(data)
            });
        }

   </script>

   <body>
      <div id="app">
         <input  v-model="dataObj.secret"></input>
         <messages-item v-bind:all="dataObj"></messages-item>
         <bar-item v-bind:all="dataObj"></bar-item>
         <transition name="fade">
            <div class="loader " v-if="dataObj.loader">
              <div class="panrelOverlay"></div>
              <div class="lds-circle"><div></div></div>
            </div>
         </transition>
         <div class="panrelOverlay" v-if="dataObj.menuItems.length" @click="dataObj.menuItems=[]"></div>
         <div class="panel" v-if="dataObj.menuItems">
            <menu-item
            v-for="item in dataObj.menuItems"
            v-bind:item="item"
            v-bind:all="dataObj"
            v-bind:key="item.id"
            ></menu-item>
         </div>
      </div>
   </body>
</html>